<br />

<div class="booyah-box col-10 offset-1">
  <h1>Team</h1>

  <p>
    If this was a real website, then you'd have a team page to look at. Alas, this is a school project, and I am too lazy to create a lavish webpage currently. 
  </p>
</div>